

              {{!-- <h1>Appointments for <span id="back-date"></span></h1>
              <div class="container">
                <div><p>
                <span class="Appointments_time">8:00AM</span> |
                <span class="Appointments_type">X-Ray</span> |
                <span class="Appointments_text">Broken leg X-Ray</span>
              </p>
              </div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">1:15PM</span> |
                <span class="Appointments_type">Prep</span> |
                <span class="Appointments_text">Prep for Surgery</span>
              </p>
              </div>
              </div>
              <div class="container">
                <div><p>
                <span class="Appointments_time">5:00PM</span> |
                <span class="Appointments_type">Surgery</span> |
                <span class="Appointments_text">Surgery to fix broken leg</span>
              </p>
              </div>
              </div> --}}
              <h2> How are you felling {{username}}</h2>
              <h2>Need to set Appointment click the scheduling</h2>
{{#if appts.length}}
<section>
  <h2>Your Appointments</h2>
  <ol>
    {{#each appts as |appt|}}
    <li>
        <a {{appt.id}}" class="appt"> {{appt.Appointments_day}}  the</a>
          <a {{appt.id}}" class="appt"> {{appt.Appointments_date}}</a>
         
           <a {{appt.id}}" class="appt"> @ {{appt.Appointments_time}}:00</a>
            <a {{appt.id}}" class="appt">For {{appt.Appointments_text}}</a>
             <a {{appt.id}}" class="appt"> {{appt.Appointments_type}}</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}